/* Main Style */

html {
    scroll-behavior: smooth;
    }
    
 body{
    background-color: #fff;
    margin: auto;
    font-family: 'gilroybold';
    background-image:url('../assets/hero.svg');
    background-repeat: no-repeat;
    background-position: 0px 280px;
    background-size: 100%;
    }


 @font-face {
        font-family: 'gilroyblack';
        src: url('font/gilroy-black-webfont.woff2') format('woff2'),
             url('font/gilroy-black-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    
    }
    
    
@font-face {
        font-family: 'gilroybold';
        src: url('font/gilroy-bold-webfont.woff2') format('woff2'),
             url('font/gilroy-bold-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    
    }
    
    
 @font-face {
        font-family: 'gilroysemibold';
        src: url('font/gilroy-semibold-webfont.woff2') format('woff2'),
             url('font/gilroy-semibold-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    
    }

/* Main Style END */


/* Content */

.content{
width: 90%;
margin: auto;
margin-top: 90px;
}

.social{
    font-family: 'gilroybold';
    font-size: 12px;
    letter-spacing: 2px;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #CDCDCD;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    -webkit-transition: all 0.3s;
  }
  
  li a:hover {
    color: black;
    -webkit-transition: all 0.3s;
  }

  .hero{
    font-family: 'gilroyblack';
    font-size: 80px;
    text-transform: uppercase;
    margin-top: 300px;
    line-height: 120px;
    
  }

  .about{
    font-family: 'gilroybold';
    font-size: 18px;
    line-height: 36px;
    color: #8A8A8A;
    margin-top: 40px;

  }

  .ctaarea{
    margin-top: 40px;
  }

  .ctablack{
    width: 190px;
    height: 56px;
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    border-radius: 100px;
    -webkit-transition: all 0.3s;
    font-family: 'gilroybold';
    letter-spacing: 3px;
    outline: none;
  }
  
  .ctablack:hover{
    width: 220px;
    height: 56px;
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    -webkit-transition: all 0.3s;
    cursor:pointer;
    outline: none;
  }


  .ctagrey{
    width: 190px;
    height: 56px;
    background-color: #F6F6F6;
    color: #8A8A8A;
    border: 1px solid #F6F6F6;
    border-radius: 100px;
    -webkit-transition: all 0.3s;
    font-family: 'gilroybold';
    letter-spacing: 3px;
    margin-left: 10px;
    outline: none;
  }
  
  .ctagrey:hover{
    width: 220px;
    height: 56px;
    background-color: #F6F6F6;
    color: #8A8A8A;
    border: 1px solid #F6F6F6;
    -webkit-transition: all 0.3s;
    cursor:pointer;
    outline: none;
    
  }



  button:active {
    outline: none;}







.projectarea{
  width: 100%;
  height: auto;
  margin-top: 100px;
}









  .projectname{
    padding: 0 0 30px 0;
    width: 90%;
    height: 8px;
    

  }

  .title{
    font-family: 'gilroybold';
    font-size: 12px;
    line-height: 32px;
    color: #000;
  } 

  .info{
    font-family: 'gilroysemibold';
    font-size: 12px;
    line-height: 16px;
    color: #CDCDCD;
    padding-left: 12px;
    margin-bottom: 100px;
  } 


  .projectimg{
    padding: 50PX 50PX 50PX 50PX;
    height: auto;
    background-color:#FAFAFA;
    border-radius: 14px;

  }








  
.brands{
  background-image:url('../assets/brands.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 286px;  
  margin-top: 250px;
}