@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

body{
    background-color: #000000;
    margin:0px;
    font-family: 'Silkscreen', cursive;
    overflow-x: hidden;
    background-image: url('../v8_images/noise.png');
    
    
}

a {
  text-decoration: none;
}

.tophero{
  width:100%;
  height:246px;
  background-image: url('../v8_images/hero3.svg');
  background-repeat: no-repeat;
  background-position-x:center;
  background-size: 100% 100%;
  margin-top: -48px;
}



.herosub{
    width:100%;
    height:300px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 60px;
    padding-left: 15%;
}

.name{
  font-weight: 500;
  font-size: 28px;
  color: #ffffff;
  padding-bottom: 16px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-weight: 500;
    font-size: 14px;
  }

  li {
    float: left;
    
  }

  li a {
    display: block;
    color: #A0A0A0;
    text-align: center;
    padding: 2px 20px 0 0;
    text-decoration: none;
    -webkit-transition: all 0.3s;
  }

  li a:hover {
    color: #C9FA49;
    -webkit-transition: all 0.3s;

    
  }


  .herotitle{
      font-size: 42px;
      line-height: 60px;
      color: white;
      margin-top: 30px;
      font-weight: 500;
  }


  .herotitlesub{
    font-size: 14px;
    line-height: 24px;
    color: #A0A0A0;
    margin-top: 15px;
    font-weight: 400;
}

.herotitle span{
background-color:#C9FA49;
color: #000;
padding:0 12px 0 12px;
border-radius: 1px;
}


.under{
  font-size: 14px;
  line-height: 24px;
  color: #A0A0A0;
  margin-top: 15px;
  font-weight: 400;
  padding-left:7%;
}




.projects{
    width: 100%;
    height:auto;
    line-height:148px;
    font-weight: 600;
    margin-top: 120px;
    
}

.projectarea{
    width: 100%;

    font-size: 74px;
    font-weight: 500;
    padding-left: 15%;
    text-decoration: none;
    color: white;
    -webkit-transition: all 0.2s;
}


.projectarea span{
  -webkit-transition: all 0.2s;

}



.projectarea:hover{
  -webkit-transition: all 0.2s;
  text-decoration: none;
  color: #000;

}

.projectarea:hover span{
  background-color:#C9FA49;
  padding:0 34px 0 34px;
  border-radius: 1px;
  -webkit-transition: all 0.2s;
}



 .experience{
   width: 100%;
   height: auto;
   margin-top: 120px;
   padding-left: 13%;
 }

 .experincecon{
   width: 270px;
   border-bottom: 2px solid #1A1A1A;
   float: left;
   margin-left:30px;
   line-height: 20px;
   
 }

 .experincecon h1{
  font-weight: 500;
  font-size: 28px;
  color: white;
  -webkit-transition: all 0.2s;
}

.experincecon h1 a{
  text-decoration: none;
  color: white;
  -webkit-transition: all 0.2s;
}

.experincecon h1 a:hover{
  text-decoration: none;
  background-color: black;
  color:#FFF066;
  padding:0 12px 0 12px;
  border-radius: 4px;
}



.experincecon h2{
  font-weight: 400;
  font-size: 14px;
  color: #A0A0A0;
}


.info{
  width: 100%;
  height: auto;
  margin-top: 90px;
  padding-left: 15%;
  font-weight: 400;
  font-size: 14px;
  color: #A0A0A0;
  line-height: 28px;
}


button{
  width: 310px;
  font-weight: 500;
  font-size: 38px;
  color: #000;
  background-color: #C9FA49;
  font-family: 'Silkscreen', cursive;
  height:74px;
  border-radius:4px;
  border:0px solid;
  -webkit-transition: all 0.3s;
  cursor: pointer;
}


button:hover{
  width: 310px;
  font-weight: 500;
  font-size: 38px;
  color: #C9FA49;
  background-color: #000;
  font-family: 'Silkscreen', cursive;
  text-decoration: underline  dashed 12px;
  height:74px;
  border-radius:4px;
  border:0px solid;
  -webkit-transition: all 0.3s;
  cursor: pointer;

  
}


.all{
  width: 310px;
  font-weight: 500;
  font-size: 38px;
  color: #000;
  background-color: white;
  font-family: 'Silkscreen', cursive;
  height:74px;
  border-radius:4px;
  border:1px solid #f2f2f2;
  -webkit-transition: all 0.3s;
  margin-left: 8px;
  cursor: pointer;
  
}


.all:hover{
  width: 310px;
  font-weight: 500;
  font-size: 38px;
  color: #FFF066;
  background-color: #000;
  font-family: 'Silkscreen', cursive;
  height:74px;
  border-radius:4px;
  border:1px solid #f2f2f2;
  -webkit-transition: all 0.3s;
  cursor: pointer;
}





.flash{
  width:180px;
  height:180px;
  margin-top:200px;
  padding-left: 15%;
  margin-bottom:100px;

}


.subtitle{
  width:100%;
  height:auto;
  font-weight: 500;
  font-size: 98px;

}

.back{
  float: left;
  padding-right: 24px;
}




		/* general style for all menus */
    nav.menu {
      position: fixed;
      z-index: 20;
      background-color: #fff;
      overflow: hidden;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
  }
  
  nav.menu img{
width: 100%;
}
  
  nav.slide-menu-right button.close-menu {
      background:transparent;
      position: absolute;
      top: 0;
      right: 0;
  }
  
  
  
  nav.slide-menu-right button.close-menu img {
      opacity: 0.5;
      width:44px;
      height:44px;
      right: 5px;
      top: 5px;
      position: absolute;
      -webkit-transition: all 0.3s;
      
  }

  nav.slide-menu-right button.close-menu img:hover{
    opacity: 1;
    -webkit-transition: all 0.3s;
}
  
  
  button.close-menu:focus {
      outline: none;
  }
  
  
  /* slide menu left and right, push menu left and right */
  nav.slide-menu-left,
  nav.slide-menu-right,
  nav.push-menu-left,
  nav.push-menu-right {
      top: 0;
      width: 100%;
      height: 100%;


    
  }
  
  
  
  nav.slide-menu-left button.close-menu,
  nav.slide-menu-right button.close-menu,
  nav.push-menu-left button.close-menu,
  nav.push-menu-right button.close-menu {
  
      padding: 15px 30px;
  }
  
  
  
  nav.slide-menu-left,
  nav.push-menu-left {
      left: 960px;
  }
  
  
  
  nav.slide-menu-right,
  nav.push-menu-right {
      right: -100%;
  }
  
  
  
  body.sml-open nav.slide-menu-left,
  body.pml-open nav.push-menu-left {
      left: 0
  }
  
  
  
  body.smr-open nav.slide-menu-right,
  body.pmr-open nav.push-menu-right {
      right: 0;
      overflow-y:scroll;
      
  }
  
  
  
  body.pml-open #wrapper {
      left: 960px;
  }
  
  
  
  body.pmr-open #wrapper {
      left: 960px;
  }
  
  
  
  .dataImg{
      margin:0 auto;
  }
  
  
  
  .cime{
    width: 100%;
    height: 200px;
    margin-top: 120px;
  }
  
.loading{
  width: 50px;
  height:50px;
  margin: 0 auto;
  padding-top: 24%;

}

.iban{
  width:100%;
  text-align:center;
  margin:auto;
}
.bank{
  font-size:54px;
  color:#C9FA49;
  text-align:center;
  margin-top:44px;
}

.ibancode{
  font-size:38px;
  color:white;
  text-align:center;
  margin-bottom:44px;
}

.copybutton{
  background-color: #C9FA49;
  border-radius:2px;
  font-size:44px;
  width:70%;
  height:94px;
  text-align:center;
  border:0px;
  margin:auto;
  display: block;
  line-height:90px;

}

.copybutton a{
  text-decoration: none;
  color: black;
}  

.copybutton a:hover{
  text-decoration: none;
  color: black;
}  

.copybutton a:active{
  text-decoration: none;
  color: black;
}  



.ibansept{
  width:100%;
  height:5px;
  border-bottom: 2px dashed #353535;
  margin-top: 64px;
}

input{
  width:1px;
  height:1px;
  color:black;
  border:0px;
  background-color:black;
  user-select: none;
}

.coin{
  width: auto;
  height: auto;
  margin: auto;
  text-align: center;
  padding-top: 64px;
}


.coin img{
  width: 250px;
  height: 96px;
}


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #C9FA49; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #C9FA49; 
}
