html {
  scroll-behavior: smooth;
}

body{
  background-color: #1E2025;
  margin: auto;
  font-family: 'gilroybold';
}


@font-face {
    font-family: 'config_condensedbold';
    src: url('font/configcondensed-bold-webfont.woff2') format('woff2'),
         url('font/configcondensed-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'config_condensedregular';
    src: url('font/configcondensed-regular-webfont.woff2') format('woff2'),
         url('font/configcondensed-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


.content{
  width: 90%;
  height: auto;
  margin: auto;
  margin-top: 54px;
}

.logo{
  width: auto;
  height: auto;
}


.social{
    font-family: 'config_condensedbold';
    font-size: 16px;
    letter-spacing: 2px;
    margin-top: 44px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    padding: 22px 0px 22px 0px;
    border-bottom: 1px solid #24272C;
  }

  li a {
    display: inline;
    color: #CDCDCD;
    text-align: center;
    padding: 12px 20px 0 0;
    text-decoration: none;
    -webkit-transition: all 0.3s;
  }

  li a:hover {
    color: #FF5050;
    -webkit-transition: all 0.3s;
  }


  .hero{
    width: auto;
    height: auto;
    margin-top: 44px;
    font-size: 44px;
    font-family: 'config_condensedbold';
    text-transform: uppercase;
    color: #fff;
  }

  .hero span{
    color: #FF5050;
  }

  .about{
    width: auto;
    height: auto;
    margin-top: 50px;
    font-size: 20px;
    font-family: 'config_condensedregular';
    color: #CDCDCD;
    line-height: 30px;
    font-weight: normal;
  }

  .ctaarea{
   margin-top: 40px;
 }

 .ctared{
   width: 100%;
   height: 60px;
   background-color: #FF5050;
   color: #fff;
   border-radius: 6px;
   -webkit-transition: all 0.3s;
   font-family: 'config_condensedbold';
   letter-spacing: 3px;
   outline: none;
   font-size: 16px;
   border: 0px;

 }

 .ctared:hover{
   width: 220px;
   height: 60px;
   background-color: #282A31;
   color:  #FF5050;
   -webkit-transition: all 0.3s;
   cursor:pointer;
   outline: none;
 }


 .ctagry{
   width: 100%;
   height: 60px;
   background-color: #282A31;
   color: #F6F6F6;;
   border-radius: 6px;
   -webkit-transition: all 0.3s;
   font-family: 'config_condensedbold';
   letter-spacing: 3px;
   outline: none;
   margin-right: 8px;
   font-size: 16px;
   border: 0px;

 }

 .ctagry:hover{
   width: 220px;
   height: 60px;
   background-color: #282A31;
   color:  #FF5050;
   -webkit-transition: all 0.3s;
   cursor:pointer;
   outline: none;
 }

 .brands{
   width: auto;
   height: auto;
   float: left;

 }
