html {
  scroll-behavior: smooth;
}

body{
  background-color: #1E2025;
  margin: auto;
  font-family: 'gilroybold';
  background-image:url('../v6_images/bg.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 333px;
  background-size: 1187px;
  background-position-y: 0px;
  background-position-x: center;
  height: 100%;
}


@font-face {
    font-family: 'config_condensedbold';
    src: url('font/configcondensed-bold-webfont.woff2') format('woff2'),
         url('font/configcondensed-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'config_condensedregular';
    src: url('font/configcondensed-regular-webfont.woff2') format('woff2'),
         url('font/configcondensed-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


.content{
  width: 1170px;
  height: auto;
  margin: auto;
  margin-top: 144px;
}

.logo{
  width: 207px;
  height: 20px;
}


.social{
    font-family: 'config_condensedbold';
    font-size: 16px;
    letter-spacing: 2px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: #CDCDCD;
    text-align: center;
    padding: 12px 20px 0 0;
    text-decoration: none;
    -webkit-transition: all 0.3s;
  }

  li a:hover {
    color: #FF5050;
    -webkit-transition: all 0.3s;
  }


  .hero{
    width: auto;
    height: auto;
    margin-top: 74px;
    font-size: 92px;
    font-family: 'config_condensedbold';
    text-transform: uppercase;
    color: #fff;
  }

  .hero span{
    color: #FF5050;
  }

  .about{
    width: auto;
    height: auto;
    margin-top: 50px;
    font-size: 20px;
    font-family: 'config_condensedregular';
    color: #CDCDCD;
    line-height: 30px;
    font-weight: normal;
  }

  .ctaarea{
   margin-top: 80px;
 }

 .ctared{
   width: 190px;
   height: 60px;
   background-color: #FF5050;
   color: #fff;
   border-radius: 6px;
   -webkit-transition: all 0.3s;
   font-family: 'config_condensedbold';
   letter-spacing: 3px;
   outline: none;
   font-size: 14px;
   border: 0px;

 }

 .ctared:hover{
   width: 220px;
   height: 60px;
   background-color: #282A31;
   color:  #FF5050;
   -webkit-transition: all 0.3s;
   cursor:pointer;
   outline: none;
 }


 .ctagry{
   width: 190px;
   height: 60px;
   background-color: #282A31;
   color: #F6F6F6;;
   border-radius: 6px;
   -webkit-transition: all 0.3s;
   font-family: 'config_condensedbold';
   letter-spacing: 3px;
   outline: none;
   margin-right: 8px;
   font-size: 14px;
   border: 0px;

 }

 .ctagry:hover{
   width: 220px;
   height: 60px;
   background-color: #282A31;
   color:  #FF5050;
   -webkit-transition: all 0.3s;
   cursor:pointer;
   outline: none;
 }

 .brands{
   width: auto;
   height: 364px;
   margin-top: 120px;
   -webkit-transition: all 0.3s;

 }

 .brands:hover{
  -webkit-transition: all 0.3s;
   transform: scale(1.1);


 }

 .cih{
   width: auto;
   height: auto;
   margin-top: 200px;
   bottom: -100px;
 }

.kalp{
  float: right;
  width: 26px;
  height: 21px;
  margin-right: 20px;
  margin-top: -130px;
  border-radius: 100px;
  background-color: #1E2025;
  justify-content: center;
  text-align:center;
  padding-top: 5PX;
  -webkit-transition: all 0.3s;

}

.kalp:hover{
  border-radius: 100px;
  background-color: #FF5050;
  -webkit-transition: all 0.3s;
}

.iban{
  font-family: 'config_condensedbold';
  color: #fff;
  font-size: 28px;
  line-height: 12px;
  padding-bottom: 100px;
  border: 1px solid #1E2025;
  padding: 50px;

  -webkit-transition: all 0.3s;
  border-radius: 6px;

}

.iban:hover{
  border: 1px solid #FF5050;
  -webkit-transition: all 0.3s;
  box-shadow: 0px 54px 50px rgba(0, 0, 0, 0.25);
  border-radius: 6px;


}



.iban h2{
  font-family: 'config_condensedbold';
  color: #CDCDCD;
  font-size: 18px;

}


.iban button{
  width: 190px;
  height: 50px;
  background-color: #FF5050;
  color: #fff;
  border-radius: 6px;
  -webkit-transition: all 0.3s;
  font-family: 'config_condensedbold';
  letter-spacing: 3px;
  outline: none;
  font-size: 14px;
  border: 0px;

}

.iban button{
  width: 190px;
  height: 50px;
  background-color: #FF5050;
  color: #fff;
  border-radius: 6px;
  -webkit-transition: all 0.3s;
  font-family: 'config_condensedbold';
  letter-spacing: 3px;
  outline: none;
  font-size: 14px;
  border: 0px;



}.iban button:hover{
  width: 220px;
  height: 50px;
  background-color: #282A31;
  color:  #FF5050;
  -webkit-transition: all 0.3s;
  cursor:pointer;
  outline: none;

}
